.App {
  text-align: center;
}

.toast-custom {
  position: absolute;
  top: 20px;
  left: -500px;
  width: 400px;
  height: 50px;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(360deg, #dd5b5b, #f65c5c);;
  transition: all 600ms linear;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
}

.toast-active {
  left: 20px;
}

.link {
  font-size: 14px;
  cursor: pointer;
  color: #003ac4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.info-block {
  background: rgb(0 111 255 / 10%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 40px;
  border: 2px solid #b6cef7;
  border-radius: 15px;
  color: #475983;
  text-align: left;
}

.auth-block {
  background: rgba(5, 48, 103, 0.1);
  border-radius: 15px;
  padding: 30px;
  gap: 10px;
  min-height: 400px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  justify-content: center;
}

.help-block {
  background: rgba(5, 48, 103, 0.5);
  border-radius: 15px;
  margin: 40px;
  padding: 30px;
  gap: 10px;
  max-height: 600px;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}

.help-history {
  background: rgb(78, 91, 115);
  border-radius: 15px;
  padding: 10px;
  transition: width 0.3s ease-out;
  width: 20px;
  height: auto;
  max-width: 300px;
}

.help-input-block {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-direction: row;
  align-items: flex-end;
}

.help-input {
  border-radius: 15px;
  font-size: 12px;
  padding: 5px 10px;
  height: 50px;
  width: 100%;
}

.input {
  border-radius: 15px;
  font-size: 12px;
  padding: 5px 10px;
  height: 50px;
  width: 100%;
}

.button {
  font-size: 14px;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #333333;
  height: 50px;
  background-color: #4b8347;
  color: white;
}

.help-send-button {
  font-size: 8px;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #333333;
  height: 50px;
  background-color: #4b8347;
  color: white;
}

.help-message-list {
  height: auto;
  gap: 10px;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
}

.help-messages {
  border-radius: 15px;
  padding: 10px;
  transition: width 0.3s ease-out;
  height: auto;
  width: 20px;
  background: rgba(95, 111, 117, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.help-active {
  width: calc(100%);
}

.message-container {
  width: 100%;
  display: flex;
}

.message-container:nth-child(odd) {
  justify-content: flex-end;
}
.message-container:nth-child(even) {
  justify-content: flex-start;
}

.user {
  background-color: #4b8347;
}

.assistant {
  background-color: #677e67;
}

.message {
  color: white;
  font-size: 14px;
  text-align: left;
  padding: 10px;
  max-width: 80%;
  border-radius: 15px;
}

.camera-window {
  width: 100vw;
  position: fixed;
  height: 100vh;
  background: #000;
  top: 0;
  left: 0;
}

.camera-body {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}

.camera-data {
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
}

.images-container {
  background: rgba(98, 98, 98, 0.1);
  padding: 30px;
  margin: 40px;
  border: 2px solid #b6b9b6;
  border-radius: 15px;
}

.image-item {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.screen-button {
  width: 70px;
  height: 70px;
  padding: 10px;
  left: calc(50vw - 35px);
  bottom: 80px;
  border-radius: 50%;
  background: #ffffff;
}

.camera-icon {
  width: 100%;
  height: 100%;
}

.action-container {
  background: rgba(34, 255, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 40px;
  border: 2px solid #c4f7b6;
  border-radius: 15px;
  color: #4b8347;
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  .info-block, .auth-block, .action-container, .help-block {
    margin: 10px;
    padding: 10px;
  }

  .button {
    font-size: 10px;
  }

  .info-block {
    font-size: 12px;
  }

  .action-container {
    margin-bottom: 50px;
  }
}
